body{
    font-family:Arial, Helvetica, sans-serif;
    padding-top:15px;
    background-color:#330033;  /*#FF00FF;fuchsia */
    border: 1px solid #330033;
    color: white;
    
    }

nav{
    margin-top:-20px;
     border: 2px solid #330033;
    /* margin: -20px 0px 0px 0px; */
    
    } 
#brandName{
    font-size:0.5em;
    /* border:1px solid black; */
    position:relative;
    float:left;
    
    /* height:100%; */
    }


    } 
.row{
    
    padding:-20px ;
    width: 100%;
    }
.carousel{
      
     padding:0;
    }
#slide2{
      color:#330033; 
    
    }
#divLDC{
       height:100px;
    }
#divLDC>h4{
      padding-top:50px; 
       
    }

.col-12{
       height:20px;
    }
.col-5{
       height:300px;
       margin-top:auto;
       margin-bottom:auto;
    }
.texte{
    font-size:0.8em;
}
#texte2{
    font-size:0.5em;
}
.cours{
     height:400px;
    position:relative;
    /* border:1px solid black; */
    }
.modal-content{
     color:#330033;
    }
#foot{
    background-color:#222;
    padding:0px;
    margin-left:0px;
    
    }
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
.cours>button{
   
    position : absolute ;
    bottom:50px;
    right:30px;
    left:30px;
   
    }

